snippet ccp "class component" bA
class ${1:name} extends Component {
	constructor(${2:props}){
		super(props);

		$0
	}

	render(){
		
	}
}
endsnippet

snippet fcp "function component" bA

endsnippet
